@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* ========= Custom Colors ========= */

  /* ===== Light Theme ===== */
  --color-light-background: #ffffff;
  --color-light-foreground: #f9fafb;
  --color-light-text: #374151;
  --color-light-subtext: #6b7280;
  --color-light-heading: #111827;
  --color-light-muted: #f3f4f6;
  --color-light-border: #e5e7eb;
  --color-light-card: #f9fafb;

  --color-light-primary: #2563eb; /* Blue */
  --color-light-secondary: #7c3aed; /* Violet */
  --color-light-success: #16a34a; /* Green */
  --color-light-error: #dc2626; /* Red */
  --color-light-warning: #d97706; /* Amber */

  /* ===== Dark Theme ===== */

  --color-dark-background: #0f172a;
  --color-dark-foreground: #1e293b;
  --color-dark-text: #cbd5e1;
  --color-dark-subtext: #94a3b8;
  --color-dark-heading: #f1f5f9;
  --color-dark-muted: #1e293b;
  --color-dark-border: #334155;
  --color-dark-card: #1e293b;

  --color-dark-primary: #3b82f6;
  --color-dark-secondary: #8b5cf6;
  --color-dark-success: #22c55e;
  --color-dark-error: #ef4444;
  --color-dark-warning: #f59e0b;

  /* ========= Custom Breakpoints ========= */
  --breakpoint-mediumDesktop: 1600px;
  --breakpoint-ultraDesktop: 2000px;
  --breakpoint-ultraLargeDesktop: 3000px;
}

body {
  @apply transition-colors duration-200;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
}
